@import '_variables.scss';
@import '_reset.scss';

body {
  padding: 16px;
  background: #f2f2f2;
  color: $black;
}

div {
  width: 100px;
  height: 100px;
  background-color: tomato;
  padding: 6px;
}
