@import '_variables.scss';
@import '_reset.scss';

body {
  padding: 16px;
  background: #f2f2f2;
  color: $black;
}

canvas {
  --gray: #ccc;

  background-color: #fff;
  background-image: linear-gradient(45deg, var(--gray) 25%, transparent 25%), linear-gradient(-45deg, var(--gray) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--gray) 75%), linear-gradient(-45deg, transparent 75%, var(--gray) 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0;
}
